/*-------------------------
    Dropbox Element
--------------------------*/

#dropbox{
    background: none;
    
    border-radius:3px;
    position: relative;
    margin: 0;
    overflow: hidden;
    
    
    min-height: 30em;
    padding: 10px;
}

#dropbox .message{
    font-size: 11px;
    text-align: center;
    padding-top:160px;
    display: block;
}

#dropbox .message i{
    color:#ccc;
    font-size:10px;
}

#dropbox:before{
    border-radius:3px 3px 0 0;
}



/*-------------------------
    Image Previews
--------------------------*/



#dropbox .preview{
    position: relative;
    text-align: center;
}

#dropbox .preview img{
    border: 0;
    display: block;
}

#dropbox .imageHolder{
    display: inline-block;
    position:relative;
}

#dropbox .uploaded{
    position: absolute;
    top: 0;
    left:0;
    height:100%;
    width:100%;
    background: rgba(255,255,255,0.4);
    display: none;
    line-height: 0;
    font-size: 4em;
    padding-top: 27%;
    color: rgba(0,0,0,0.6);
}

#dropbox .preview.done .uploaded{
    display: block;
}



/*-------------------------
    Progress Bars
--------------------------*/

#dropbox .progressHolder{
    position: absolute;
    height:12px;
    width:100%;
    left:0;
    bottom: 0;
    
    box-shadow: none;
}

#dropbox .progress{
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    height:100%;
    left:0;
    width:0;
    
    
    -moz-transition:0.25s;
    -webkit-transition:0.25s;
    -o-transition:0.25s;
    transition:0.25s;
}

#dropbox .preview.done .progress{
    width:100% !important;
}