.editorbar {
    border-top: 1px solid rgba(255,255,255,0.9);
    background: #f2f2f2;
    padding: 0 1em;
    line-height: 3em;
    border-bottom: 1px solid rgba(0,0,0,0.08);
    display: none;
}
.editorbar li {
    display: inline-block;
    color: #76768B;
    width: 1.6em;
    font-size: 1.2em;
    text-align: center;
    cursor: pointer;
}
.editorbar li.vertical {
    width: 0;
    height: 1em;
    margin-top: .4em;
    font-size: 1.2em;
    line-height: 1em;
    border-left: 1px solid rgba(0,0,0,0.2);
    border-right: 1px solid rgba(255,255,255,0.9);
    position: relative;
}