@font-face {
    font-family: 'Ruda';
    font-style: normal;
    font-weight: 400;
    src: local('Ruda'), url('../fonts/ruda.woff') format('woff');
}
@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot');
    src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.woff') format('woff'),
        url('../fonts/icomoon.ttf') format('truetype'),
        url('../fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.icon-login:before {
    content: "\e600";
}
.icon-radio-checked:before {
    content: "\e607";
}
.icon-radio-unchecked:before {
    content: "\e608";
}
.icon-auth:before {
    content: "\e612";
}
.icon-apache:before {
    content: "\e601";
}
.icon-font:before {
    content: "\e618";
}
.icon-checkbox-unchecked:before {
    content: "\e623";
}
.icon-checkbox-checked:before {
    content: "\e624";
}
.icon-preview:before {
    content: "\e61a";
}
.icon-trash:before {
    content: "\e61f";
}
.icon-select:before {
    content: "\e604";
    font-size: 1.2em;
}
.icon-pictures:before {
    content: "\e628";
}
.icon-save:before {
    content: "\e629";
}
.icon-delete:before {
    content: "\e62a";
}
.icon-extend:before {
    content: "\e62c";
}
.icon-search:before {
    content: "\e62d";
}
.icon-logout:before {
    content: "\e62e";
}
.icon-pen:before {
    content: "\e62f";
}
.icon-comments:before {
    content: "\e630";
}
.icon-cogs:before {
    content: "\e631";
}
.icon-settings:before {
    content: "\e632";
}
.icon-tag:before {
    content: "\e635";
}
.icon-tags:before {
    content: "\e636";
}
.icon-undo:before {
    content: "\e637";
}
.icon-posts:before {
    content: "\e627";
}
.icon-users:before {
    content: "\e602";
}
.icon-user:before {
    content: "\e603";
}
