* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::-webkit-input-placeholder {
    color: #bec8d4;
}

::-moz-placeholder {
    color: #bec8d4;
    line-height: 2.4em !important;
}

::placeholder {
    color: #bec8d4;
}

textarea::-webkit-placeholder {
    line-height: 1.3em !important;
}
textarea::-moz-placeholder {
    line-height: 1.3em !important;
}
textarea::placeholder {
    line-height: 1.3em !important;
}

.searchform input::-webkit-placeholder {
    line-height: 3em !important;
}
.searchform input::-moz-placeholder {
    line-height: 3em !important;
}
.searchform input::placeholder {
    line-height: 3em !important;
}

/* scrollbar */

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track-piece {
    background: none;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
    display: none;
}

::-webkit-scrollbar-thumb:vertical {
    height: 25px;
    background-color: #666;
    border-radius: 3px;
}

::-webkit-scrollbar-button:start:decrement {

}

::-webkit-scrollbar-button:end:increment {

}