code {
    background: rgba(0,0,0,0.05);
    border-radius: 5px;
    padding: 0.2em 0.3em;
    color: #666;
}
.sidebar {
    width: 30%;
    left: 0;
}
.container {
    margin-left: 30%;
    width: 70%;
}
.sidebar ul {
    padding-top: 5em;
    list-style-type: none;
}
.sidebar li {
    line-height: 2.4em;
    font-size: 1.2em;
    text-align: right;
    padding-right: 10%;
}
.sidebar li.elapsed {
    color: #3B7548;
}
.container .wrap {
    padding: 0 5%;
}
article h1 {
    font-size: 1.8em;
    padding-top: 1em;
    padding-bottom: .5em;
    line-height: 1.6em;
    font-weight: normal;
    color: #555;
    border-bottom: 0;
}
article p {
    margin-bottom: 1.5em;
    color: #666;
}

footer i {
    display: inline !important;
    color: #333 !important;
    font-size: inherit;
    font-style: normal;
}
.halt {
    text-align: center;
    padding-top: 5%;
}
.halt article h1 {
    margin-bottom: .6em;
}
.halt article p {
    text-align: left;
}
.halt p {
    margin: 0 auto 2em;
    width: 50%;
}
.halt p .selecter {
    width: 100%;
    min-width: auto;
}
.halt p .selecter .selecter-selected {
}
.color {
    display: inline-block;
    height: 2em;
    width: 2em;
    cursor: pointer;
    line-height: 2.2em;
}
.color .checker:before {
    color: #fff !important;
}
.green.color {
    background: #3B7548;
}
.black.color {
    background: #111;
}
.blue.color {
    background: #34495E;
}
.purple.color {
    background: #669;
}
.cyan.color {
    background: #28998F;
}